/* You can add global styles to this file, and also import other style files */
body {
	background-color: #041F22;
	color: white;
	font-family: "Malgun Gothic";
}

.btn {
	background-color: #193177;
	color: white;
}

button, input, optgroup, select, textarea {
	font-family: "Malgun Gothic";
}

.nouve {
	color: white;
	font-size: 80px;
}