<!-- <div class="middle">
	<center>
		<h1 class="nouve">
			<img src="/assets/img/anivia.png" alt="Anivia Nouve GG" height="100" width="100" class="img-fluid">
			NOUVE
		</h1>
	</center><br>
	
	<form class="form-inline" style="margin-left: 20%; margin-right: 20%;">
		<div class="custom-control my-1 mr-sm-2">
      		SUMMONER: <input type="text" id="summonerName" ng-model="summonerName" required>
    	</div>
		<label class="my-1 mr-2" for="region">REGION:</label>
	    <select class="custom-select my-1 mr-sm-2" required>
			<option value="la2">LAS</option>
			<option value="la1">LAN</option>
			<option value="na1">NA</option>
			<option value="euw1">EUW</option>
		</select><br>
		<div class="custom-control my-1 mr-sm-2">
			<button type="submit" class="btn">SEARCH</button>  
		</div>
	</form>
</div> -->

<!-- <div class="middle">
	<h4> 
	    <div style="float:left;">Left Text</div>
	    <div style="float:right;">Right Text</div>
	    <div style="clear: left;"></div>
	</h4>
</div> -->


<div class="middle">
	<h1><img src="/assets/img/anivia.png" alt="Anivia Nouve GG" height="100" width="100" class="img-fluid"> &nbsp;&nbsp;NOUVE
	</h1>
</div>